.linkedQualification {
    @mixin hover {
        text-decoration: underline;
        text-decoration-color: var(--text-color);
    }
}

.dokumenteRoot {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-content: center;
    gap: 7px;

    @mixin hover {
        text-decoration: underline;
        text-decoration-color: var(--mantine-color-blue-filled);
    }
}