.root {
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

.root:hover {
    text-decoration: underline;
}

.label {
    font-weight: 400;
    font-size: 16px;
}

.section {
    margin: 0;
    margin-left: 4px;
}