.mainTitle {
    hyphens: auto;
    word-break: break-word;
}

.container {
    display: flex;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-sm) {
        padding: 0px 5px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        padding: 0px 10px;
        margin-left: 5%;
        margin-right: 10%;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 0px 15px;
        margin-right: 15%;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        padding: 0px;
    }

}

.dividerTitle {
    text-wrap: auto;
    hyphens: auto;
    word-break: break-word;
}