.mainTitle {
    hyphens: auto;
    word-break: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px;

    @media (min-width: $mantine-breakpoint-sm) {
        padding: 0px 5px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        padding: 0px 10px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 0px 15px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        padding: 0px;
    }

}

.dividerTitle {
    text-wrap: auto;
    hyphens: auto;
    word-break: break-word;
}